<nav>
    <a href="/" class="brand">
      <img src="~/img/favicon.ico" />
      <h1>Home</h1>
    </a>

    <ul>
      <li>
        <a asp-controller="Cuisine" asp-action="Index">Cuisine List</a>
      </li>
    </ul>

    <ul class="pull-right">
      <li>
        <a 
          href="https://github.com/AlyxMoon/epicodus-week10-best-restaurants"
          target="_blank">
          Github Repo
        </a>
      </li>
    </ul>
  </nav>